<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item"><a href="#!/events">Events</a></li>
    <li class="breadcrumb-item active">{{ eventName }}</li>
  </ol>
</nav>

<h3>{{ eventName }}</h3>

<p ng-if="eventA">This page shows forms in <strong>rank</strong> order, for the event <strong>{{ eventName }}</strong>. <br>In this event, one sub-event takes place, <strong>A</strong>. Forms are allocated points based on their performance in each sub-event. The names of those who come in 1st, 2nd, and 3rd place are shown. <br> To view more information on mobile devices, please scroll to the left and right, over the table.</p>

<p ng-if="eventAB">This page shows forms in <strong>rank</strong> order, for the event <strong>{{ eventName }}</strong>. <br>In this event, two sub-events take place, <strong>A</strong> and <strong>B</strong>. Forms are allocated points based on their performance in each sub-event. The names of those who come in 1st, 2nd, and 3rd place are shown. <br> To view more information on mobile devices, please scroll to the left and right, over the table.</p>

<p ng-if="eventABC">This page shows forms in <strong>rank</strong> order, for the event <strong>{{ eventName }}</strong>. <br>In this event, three sub-events take place, <strong>A</strong>, <strong>B</strong> and <strong>C</strong>. Forms are allocated points based on their performance in each sub-event. The names of those who come in 1st, 2nd, and 3rd place are shown. <br> To view more information on mobile devices, please scroll to the left and right, over the table.</p>

<ul class="nav mb-3 nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#aci-7" onClick="return false;">Year 7</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#aci-8" onClick="return false;">Year 8</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#aci-9" onClick="return false;">Year 9</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#aci-10" onClick="return false;">Year 10</a>
  </li>
</ul>

<div class="tab-content">
  <div ng-repeat="yearGroup in yearGroups" class="tab-pane fade" ng-class="{'show active': yearGroup == '7'}" id="aci-{{ yearGroup }}">
    <div class="row" ng-if="eventA">
      <div class="col-sm">
        <event-table-a></event-table-a>
      </div>
    </div><!-- eventA -->

    <div class="row" ng-if="eventAB">
      <div class="col-sm">
        <event-table-a></event-table-a>
      </div>
      <div class="col-sm">
        <event-table-b></event-table-b>
      </div>
    </div><!-- eventAB -->

    <div class="row" ng-if="eventABC">
      <div class="col-sm">
        <event-table-a></event-table-a>
      </div>
      <div class="col-sm">
        <event-table-b></event-table-b>
      </div>
      <div class="col-sm">
        <event-table-c></event-table-c>
      </div>
    </div><!-- eventABC -->
  </div>

</div> <!-- /tab content -->
