<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<h1>Welcome to the MGS Sports Day 2020 website!</h1>

<p>This page shows all forms, across the entire school in <strong>rank</strong> order. For more details, please visit the individual <a href="#!/forms">forms</a> and <a href="#!/events">events</a> pages.<br>Forms with 0 points are not ranked.</p>
<p>Archived results for previous years may be viewed by clicking the following links: <a href="https://goo.gl/fp6pTK" target="_blank">2017</a> <a href="https://goo.gl/xp8VS6" target="_blank">2018</a> <a href="https://goo.gl/gtfPtK" target="_blank">2019</a>

<ul class="nav mb-3 nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#v-top" onClick="return false;">Top 5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#v-all" onClick="return false;">All forms</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="v-top">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="15%">School position</th>
            <th width="35%">Form</th>
            <th width="35%">Total points</th>
            <th width="15%">View</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in topfive" ng-class="{'c-gold':i.schoolPos==1,'c-silver':i.schoolPos==2,'c-bronze':i.schoolPos==3}">
            <td>{{ i.schoolPos }}</td>
            <td>{{ i.year + i.form }}</td>
            <td>{{ i.points }}</td>
            <td><a ng-href="#!/f/{{ i.year }}/{{ i.form.replace('/','SLASH') }}" class="btn btn-outline-dark">View form</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade" id="v-all">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="15%">School position</th>
            <th width="35%">Form</th>
            <th width="35%">Total points</th>
            <th width="15%">View</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in all" ng-class="{'c-gold':i.schoolPos==1,'c-silver':i.schoolPos==2,'c-bronze':i.schoolPos==3}">
            <td>{{ i.schoolPos }}</td>
            <td>{{ i.year + i.form }}</td>
            <td>{{ i.points }}</td>
            <td><a ng-href="#!/f/{{ i.year }}/{{ i.form.replace('/','SLASH') }}" class="btn btn-outline-dark">View form</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
