<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">Office</li>
  </ol>
</nav>

<h3><i class="fas fa-tools"></i> Office</h3>

<div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> <strong>Warning!</strong> This page is intended for use only by Sports Day co-ordinators.</div>

<h4>Data entry sheets generator</h4>
<!--
  1) Load and confirm forms/event data from SS
  2) Generate CSV
  3) Download template
-->

<h4>Site documentation</h4>
